#header {
  padding: 1.0em 0 0.2em 0;
  margin: 10px 50px;
}

a:hover,
acronym:hover {
  color: #7aa1b0 !important; }

a:link, a:visited {
  color: #258aaf;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #33b5e5;
  text-decoration: none;
}

a.toptab {
  color: #333;
  font-size: 16px;
}

